body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: rgb(79, 79, 79); */
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: rgb(224, 197, 77);
    padding: 0 1.5rem;

}
.main-header_nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header_item_list{
    list-style: none;
    margin: 0;
    padding: 0; 
    display: flex;
}
.main-header_item{
    margin: 0 0.5rem;
    padding: 0; 
}
.main-header_item a{
    text-decoration: none;
    color: black;
}


.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a:active{
     color: blueviolet;
}
.mainDiv{
    margin: 105px 350px;
    /* border: 2px solid black; */
    /* background-color: rgb(29, 41, 41); */
    padding: 50px 50px;
}
.product-form{
   
   
    width: 30rem;
    max-width: 90%;
    margin: auto;
}
.form-control{
    margin: 1rem 0;
  
}
.product-form label,
.product-form input{
    display: block;
    width: 98%;
    padding: 2px;
    color: rgb(17, 16, 16);
}
.form-control input{   
border: 1px solid rgb(17, 14, 14);
border-radius: 2px;
font:inherit
 
}
input{
  
   margin-bottom: 10px;
}
button{
font: inherit;
background: white;
border: 1px solid black;
border-radius: 6px;
cursor: pointer;
width: 100%;
    background-color: lightslategray;
}